html {
    --siteFont: PT Sans;
    --defaultTheme: dark;
    --codeFontFamily: ui-monospace, Menlo, Roboto Mono, Monaco, Consolas, monospace;
    --bodyFontSize: 17px;
    --accent: #42b983;
    --toogleBackground: #ffffff;
    --background: #091a28;
    --textColor: #b4b4b4;
    --codeTextColor: #ffffff;
    --codeBackgroundColor: #0e2233;
    --borderColor: #0d2538;
    --blockQuoteColor: #858585;
    --highlightColor: #d22778;
    --sidebarSublink: #b4b4b4;
    --codeTypeColor: #ffffff;
    --coverBackground: #0c2057;
    --toogleImage: url(https://cdn.jsdelivr.net/npm/docsify-darklight-theme@latest/icons/sun.svg);
    --color-scheme: dark;
}