<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body{
      padding: 0;
      margin: 0;
    }
    .content{
      display: flex;
      justify-content: center;
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
    }
    .item{
      width: 295.5px;
      height: 254px;
      background: #ffffff;
      border-radius: 10px;
      box-shadow: 1px 0px 10px 1px #ccc;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-decoration:none;
    }
    .content :hover{
      background: #F5F8FE;
    }
    .item > div{
      color: #515E7A;
      font-size: 32px;
      font-weight: bold;
      text-align: center;
    }
    .item > p{
      color: #c2c2c2;
      font-size: 16px;
      position: absolute;
      bottom: 10px;
    }
    .admin{
      margin-left: 20px;
    }
    .bgImg{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      z-index: -1;
    }
    .project{
      margin-right: 100px;
    }
    .header{
      margin: 20px 0px 0px 20px;
      display: flex;
      align-items: center;
      color: #ffffff;
      font-size: 20px;
      font-weight: bold;
    }
    .footer{
      width: 100%;
      display: flex;
      justify-content: center;
      position: absolute;
      color: #c2c2c2;
      font-size: 18px;
      bottom: 100px;
    }
  </style>
</head>
<body>
  <div>
    <img src="./local/images/bg.png" class="bgImg" alt="">
    <div class="header">
      <img src="./local/images/logo.png" alt="">
      <span>品管服务管理平台</span>
    </div>
    <div class="content">
      <a href="./client" class="project item">
        <div>
          <img src="./local/images/pro.png" alt="">
          <div>项目端</div>
        </div>
        <p>面向客户/项目组的服务平台</p>
      </a>
      <a href="./manage" class="admin item">
        <div>
          <img src="./local/images/mg.png" alt="">
          <div>管理端</div>
        </div>
        <p>面向品管人员的服务管理工具</p>
      </a>
    </div>
    <div class="footer">—— 品管服务管理平台 ——</div>
  </div>
</body>
</html>

